$color-primary: #3359E5;
$color-primary-light: #E0E6F9;
$color-primary-lighter: #F8F9FD;

$color-black: #333;
$color-black-light: #909090;
$color-white: #fff;
$color-gray: #EEEFF1;
$color-gray-2: #DBDBDB;
$color-gray-3: #FBFBFB;