.added-items {

  &__wrapper {
    border: 0.2rem solid $color-gray;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  &__list {
    margin-top: 1.6rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  &__details {
    display: flex;
    align-items: flex-start;
    flex: 0 0 60%;
  }


  &__img {
    width: 2.4rem;
    margin: 0.4rem 1.6rem 0 0;
  }

  &__info {}

  &__head {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 1.8rem;
    margin: 0 2rem 0 0;
  }

  &__size {
    font-size: 1.4rem;

    &>span {
      border: 2px solid $color-gray;
      border-radius: 1rem;
      padding: 0 0.4rem;
      margin: 0 0.2rem;
    }
  }

  &__ingredients {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;

    &>span {
      border: 2px solid $color-gray;
      border-radius: 2rem;
      font-size: 1.2rem;
      padding: 0.4rem 0.8rem;
      margin: 0.4rem;
    }
  }

  &__amount {
    font-size: 1.2rem;
    margin-top: 0.8rem;

    &-num {
      color: $color-black-light;
      margin-right: 1.6rem;
    }

    .button {
      font-weight: bold;
    }
  }

  &__quantity {
    text-align: center;
    flex: 0 0 15%;

    &-detail {
      font-weight: bold;
      margin-bottom: 0.8rem;
    }

    &-label {
      color: $color-black-light;
    }

    &-num {
      margin: 0 0.4rem;
      font-size: 1.6rem;
    }

    &-operator {
      display: inline-block;
      vertical-align: middle;
      font-weight: normal;
      background-color: $color-primary-light;
      padding: 0 0.6rem;
      font-size: 1.4rem;
      line-height: 1;
      cursor: pointer;
    }

  }

  &__price {
    text-align: center;
    flex: 0 0 15%;

    &-number {
      font-weight: bold;
      margin-bottom: 0.8rem;
    }

    &-label {
      color: $color-black-light;
    }
  }

  &__cancel-button {
    color: $color-black-light;
  }
}

.coupon {
  margin: 3.2rem 0 2.4rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    flex: 0 0 auto;
  }

  &__icon {
    width: 2.4rem;
    margin-right: 1.6rem;
  }

  &__code {
    flex: 0 0 35%;
    color: $color-primary;
    background-color: $color-primary-lighter;
    padding: 0.4rem 1.6rem;
  }
}